*.o
*.bin
*.in
*.out
*.zip
*.csv
*.txt
/.vscode
/casos_de_teste
/arquivos
/pijas
/casos_de_teste_oculto
arq
funcoesFornecidas.c
testes
testes2.c
teste.c
teste
teste.o
/teste
/output
/arquivos_trabalho_introdutorio-master
artu
binario
binarioNaTela.c
intro
lerarvore
lerdados
lerarvore.c
